
{% block Head %}
     <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

{% endblock %}
{% block  title %}

{% endblock title %}
{% block body %}
    <section class="about flex" id="about">
        <div class="about-one">
          <h1>About me</h1>
          <span>Muhammad Nisar</span>
          <p>
            Lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Praesentium nemo quae deserunt aliquam expedita tempore! Laudantium,
            nobis. Commodi, quod ad. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Illum iusto sequi dolores nulla quibusdam
            architecto porro officiis, delectus tenetur neque? Quasi ex pariatur
            modi laudantium ipsam officia numquam corrupti, inventore sequi
            consequatur cum ad ducimus aliquid, necessitatibus voluptas. Autem,
            sint. ipsum dolor sit amet consectetur adipisicing elit. Mollitia
            ore.
          </p>
          <div class="btns">
            <button>Download CV</button>
            <button>Contact Me</button>
          </div>
        </div>
        <div class="about-two">
          <img src="../static/profile.png" alt="" />
        </div>
      </section>
      <br /><br /><br />

{% endblock %}